body 
{ 
  background: #171717 !important;
  color: lightgrey !important;
}

path {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

/*adjust to absolute to see paths*/
svg
{
    background: transparent;
    font-family: helvetica, sans-serif;
    /*position: absolute;*/
}

/*.heatMapDiv-svg{
  position: absolute;
}*/

.nodeMapDiv-svg{
  position: relative;
}

.bargraph{
  background: white;
}

circle {
  stroke: white;
  stroke-width: 3px;
  opacity: 0.7;
  stroke-opacity: 1;
}

circle:hover {
  opacity: 1;
  stroke-width: 5;
  stroke: red;
}

.node {
  stroke: #000;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-width: 1.5px;
}

.col-md-9{
  position:relative;
}

.bargraph{
  background: #171717 !important;
  color: lightgrey !important;
}


#canvas{
  position:relative;
  width:100%;
  height:100%;
  top:0px;
}

canvas{
  position: absolute;
}
p {
    text-indent: 50px;
}

.tab { margin-left: -60px; }

/*
 *
/* HeatMap: */
.bin:hover
{
  stroke:blue;
  stroke-width: 2px;
}

.dayGroup:hover
{
  stroke: seagreen;
  stroke-width: 2px;
}

.hourlyBin:hover
{
  stroke:blue;
  stroke-width: 2px;
}

.hourGroup:hover
{
  stroke: seagreen;
  stroke-width: 2px;
}


/*
 *
/* Histogram: */
.bar:hover 
{
  opacity: 0.5;
}

.barText:hover
{
  opacity: 0.5;
}

.xAxis text
{
  fill: white;
}

.xAxis line
{
  stroke: white;
}

.yAxis text
{
  fill: white;
}

.yAxis line
{
  stroke: white;
}

/* Zoom Out Button */
.zoomOutButton
{
  fill:#d9534f;
}

.zoomOutButton:hover
{
  stroke: white;
  stroke-width: 2px
}

.zoomOutButton text
{
  fill: white;
  font-size: 80px
}

