body 
{ 
  background: #171717 !important;
  color: lightgrey !important;
}

path {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

/*adjust to absolute to see paths*/
svg
{
    background: transparent;
    font-family: helvetica, sans-serif;
    /*position: relative;*/
}

.heatMapDiv{
  position: relative
}

.nodeMapDiv{
  position: relative;
}

.bargraph{
  background: white;
}

.bar:hover {
  fill: brown;
}

circle {
  stroke: white;
  stroke-width: 3px;
  opacity: 0.7;
  stroke-opacity: 1;
}

circle:hover {
  opacity: 1;
  stroke-width: 5;
  stroke: red;
}

.bin:hover
{
  /*fill: red !important;*/

  stroke:red;
  stroke-width: 2px;
}

.node {
  stroke: #000;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-width: 1.5px;
}

.col-md-9{
  position:relative;
}

.bargraph{
  background: #171717 !important;
  color: lightgrey !important;
}


#canvas{
  position:relative;
  width:100%;
  height:100%;
  top:0px;
}

canvas{
  position: absolute;
}
p {
    text-indent: 50px;
}